*{ margin: 0;    padding: 0;    /*box-sizing: border-box;*/}
html { -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { font:14px/20px 'Microsoft YaHei'; color: #262626; }
a{text-decoration: none;}
img{border: none; max-width: 100%;}
input{outline: none;}
li{list-style: none;}
.fl{float: left;}
.fr{float: right;}
table{border-spacing:0;border-collapse:collapse;}
td,th{padding:0;}
.clear{width: 0px;height: 0px;clear: both;}
.center{width: 1200px;margin: 0 auto;}
.clear{padding: 0px; margin: 0px; font-size: 0px; height: 0px; clear: both;}
.main_content{background: #f7f7f7;}
.top{width: 100%;height: 197px;border-bottom: 2px solid #00b19a;}
#hotsearch{padding-top: 5px; margin-left: 0px;}
#hotsearch a{display: inline;}
.top-top{width: 100%;height: 30px;background: rgba(157, 146, 146, 0.1);}
.top-top p{display: block;height: 30px;font-size: 10px;line-height: 30px;color: #6c6c6c;}
.top-top a{height: 30px;font-size: 10px;line-height: 30px;color: #6c6c6c;}
.logo{width: 254px;height: 64px;float: left;margin-top: 26px;}
.mt0{margin-top: 0px !important;}
.shuru{width: 286px;height: 36px;border: 1px solid #5b5b5b;background: none;padding-left:11px ;font-size: 14px;color: #1c1c1c;float: left;margin: 35px 0px 0px 281px;border-right: none;}
.sousuo{display: block; width: 75px;height: 38px;background: #00483d;border: none;color: white;font-size: 14px;float: left;margin-top: 35px;}

.top-right{float: right;width: 224px;height: 68px;margin-top:26px ;}
.top-right li{width: 64px;height: 100%;float: left;margin-left: 16px;}
.top-right li img{width: 42px;height: 42px;margin-left: 11px;}
.top-right li a{display: block;width:64px;height: 12px;color: #5b5b5b;font-size: 12px;line-height: 12px;margin-top: 14px;text-align: center;}

.nav2{width: 377px;height: 10px;float: left;margin: 8px 0px 0px 281px;}
.nav2 li{float: left;}
.nav2 p{display: block;height: 10px;font-size: 10px;color: #8e8e8e;line-height: 10px;margin-left: 8px;}
.nav2 a{display: block;height: 10px;font-size: 10px;color: #8e8e8e;line-height: 10px;margin-left: 8px;}
.nav2 a:hover{color: #00483d;}

.xian1{width: 100%;height: 1px;background: #dbdbdb;float: left;margin-top: 34px;}

.nav{width: 1200px;height: 38px;float: left;}
.nav li{float: left;margin-right: 23px;}
.nav li a{display: block; width: 109px;height: 38px;font-size: 13px;color: #656565;line-height: 38px;text-align: center;}
.nav li a:hover{color: white;background: #00b19a;}

.con1{width: 1200px;height: 469px;margin: 0 auto;}
.con1-left{width: 198px;height: 468px;border-top: none;background: white;float: left;}
.con1-left .fenleitit{height: 16px;font-size: 14px; line-height: 16px; color: #7f8c8d; font-weight: bold; font-family: "Arial Black", arial-black; margin: 12px 0px 0px 28px;}
.con1-left select{width: 137px;height: 31px;border: 1px solid #bababa;border-radius: 3px;color: #878787;font-size: 9px;float: left;margin: 10px 0px 0px 28px;outline: none;}


.input1{width: 113px;height: 31px;border: 1px solid #bababa;border-radius: 3px;color: #878787;font-size: 9px;float: left;margin: 10px 0px 0px 28px;outline: none;background: url(../images/con1-left_18.png) no-repeat left;padding-left: 24px;}
.input2{width: 139px;height: 33px;background: #00b19a;float: left;margin: 9px 0px 0px 28px;outline: none;border: none;border-radius: 3px;font-size: 10px;color: white;}


.jiner{width: 143px;height: 85px;float: left;margin: 17px 0px 0px 28px;}
.jiner p{display: block;width: 100%;height: 10px;font-size: 10px;color: #d30319;line-height: 10px;}
.jiner a{display: block;width: 71.5px;height: 9px;font-size: 9px;line-height: 9px;float: left;color: #4f5052;margin-top: 11px;}
.jiner a:hover{color: #d30319;}

.mianji{width: 143px;height: 85px;float: left;margin: 10px 0px 0px 28px;}
.mianji p{display: block;width: 100%;height: 10px;font-size: 10px;color: #d30319;line-height: 10px;}
.mianji a{display: block;width: 71.5px;height: 9px;font-size: 9px;line-height: 9px;float: left;color: #4f5052;margin-top: 11px;}
.mianji a:hover{color: #d30319;}

/*.banner{width: 749px;height: 351px;float: left;}
.banner img{width: 100%;height: 100%;}*/
.middle{    float: left;    width: 760px;    height: auto;    background: #fff;    margin-left: 4px;}
.con1-bottom{width: 715px;height: 100px;border: 1px solid #eaeaea;float: left;margin: 16px 0px 0px 16px;background: white;}
.con1-bottom ul{width: 100%;height: 100%;}
.con1-bottom ul li{width: 178px;height: 100%;border-right: 1px solid #eaeaea; float: left;}
.con1-bottom ul li img{display: block;margin: 16px auto;height: 40px;}
.con1-bottom ul li p{display: block;width: 100%;height: 10px;font-size: 10px;color: #464646;line-height: 10px;margin-top: 5px;text-align: center;}

.con1-right{width: 246px;height: 468px;border: 1px solid #eaeaea;border-top: none;background: white;float: right;}

.con1-right h1{display: block;width: 100%;height: 30px;font-size: 30px;color: #fb001a;text-align: center;line-height: 30px;margin-top: 50px;}

.xiangmu{width: 210px;height: 78px;float: left;margin: 45px 0px 0px 26px;}
.xiangmu li p{display: block;height: 9px;font-size: 9px;line-height: 9px;color: #475158;margin-top: 13px;}
.con1-right input{width: 211px;height: 37px;background: #00b19a;color: white;border: none;margin: 0 auto;display: block;border-radius: 3px;}

.bibei{width: 100%;height: 35px;background: url(../images/xiaobeijing_24.png) no-repeat center; background-size:100% 100% ;margin-top: 15px;}
.bibei p{display: block;height: 35px;font-size: 10px;line-height: 35px;color: #464646;margin-left: 20px;}


.gongju{width: 220px;height: 121px;display: block;margin: 25px auto;}
.gongju li{width: 54px;height: 62px;float: left;margin-left: 29px;margin-top: 5px;}
.gongju li img{display: block;margin: 8px auto;}
.gongju li a{display: block;width: 100%;height: 10px;font-size: 10px;color: #515042;line-height: 10px;text-align: center;}
.gongju li a:hover{color: #fb7020;}

.con2{width: 1200px;height: 478px;display: block;margin: 20px auto;}
.con2-left{height: 100%;width: 859px;background: white;float: left;}
.con2-right{width: 321px;height: 100%;background: white;float: right;}

.con2-left-top-1{display: block;font-size: 16px;height: 16px;color: #333333;margin: 17px 0px 0px 29px;line-height: 16px;float: left;}
.con2-left-top-2{height: 16px;font-size: 10px;color: #bbbbbb;float: right;margin: 17px 35px 0px 0px;line-height: 16px;}
.con2-left-top-2:hover{color: #e4000f;}
.con2-left-xian{width: 831px;height: 1px;background: #efefef;float: left;margin: 17px 0px 0px 14px;}

.con2-left-left{width: 260px;height: 410px;float: left;margin: 17px 0px 0px 14px;}
.con2-left-left img{display: block;width: 100%;height: 242px; border-radius: 5px;}
.con2-left-left p{display: block;font-size: 11px;color: #929292;line-height: 26px;margin-top: 7px;letter-spacing: 2px;height: 123px;}
.con2-left-left a{width: 72px;height: 18px;border: 1px solid #666666;border-radius: 4px;font-size: 11px;color: #666666;line-height: 18px;text-align: center; }
.con2-left-left a:hover{border: 1px solid #e4000f;background: #e4000f;color: white;}

.con2-left-right{width: 553px;height: 400px;float: left;margin: 17px 0px 0px 20px; }
.con2-left-right dl{width: 175px;height: 200px;float: left;margin-left: 9px;}
.con2-left-right dl dt{width: 175px;height: 140px; position: relative;}
.con2-left-right dl dt:hover a img{    opacity: 0.6;}
.con2-left-right dl dt .brandinfo{position: absolute; top:5px; left: 10px;}
.con2-left-right dl dt strong{display: block;width: 160px;height: 17px;font-size: 17px;color: #676767;float: left;margin: 10px 0px 0px 9px;line-height: 17px;font-weight: normal;}
.con2-left-right dl dt p{display: block;width: 160px;height: 12px;font-size: 12px;color: #676767;line-height: 12px;float: left;margin: 6px 0px 0px 9px;font-weight: normal;}
.con2-left-right dd p{display: block;height: 10px;width: 100%;line-height: 10px; font-size:10px; color: #2b2b2b;margin-top: 10px;}
.con2-left-right dl dd p span{color: #d80916;}
.con2-left-right dl dd h3{display: block;height: 12px;color: #e8000f;float: left;margin: 10px 0px 0px 0px;}
.con2-left-right dl dd a{display: block;width: 72px;height: 18px;border: 1px solid #666666;border-radius: 4px;font-size: 11px;color: #666666;line-height: 18px;text-align: center;float: right;margin-top: 8px;}
.con2-left-right dl dd a:hover{border: 1px solid #e4000f;background: #e4000f;color: white;}

.con2-right-top-1{display: block;font-size: 16px;height: 16px;color: #333333;margin: 17px 0px 0px 20px;line-height: 16px;float: left;}

.con2-right div{width: 290px;height: 1px;background: #efefef;float: left;margin: 17px 0px 0px 15px;}
.con2-right-img{width: 290px;height: 115px;float: left;margin: 17px 0px 0px 15px;}
.con2-left-ul1{width: 290px;height: 268px;float: left;margin: 17px 0px 0px 15px;}

.con2-left-ul1 li{width: 100%;height: 41px;margin-top: 15px;}
.con2-left-ul1 li img{width: 41px;height: 41px;float: left;}
.con2-left-ul1 li a{display: inline-block; height: 41px;line-height: 41px;font-size: 12px;color: #8f8f8f;float: left;margin-left: 14px;}
.con2-left-ul1 li a:hover{color: #e8000f;}
.con2-left-ul1 li a:hover span{color: #e8000f;}
.con2-left-ul1 li a span{color: #5f5f5f;}
.con2-left-ul1 li span.paiming{color: #5f5f5f; float: right; line-height: 41px; font-size: 12px;}

.xiantiao1{width: 1200px;height: 110px;margin: 0px auto;}
.xiantiao1 img{width: 100% ;height: 100%;}

.con3{width: 1200px;height: 478px;margin: 20px auto;}
.con3-left{height: 100%;width: 859px;background: white;float: left;}
.con3-right{width: 321px;height: 100%;background: white;float: right;}

.con3-right h1{display: block;font-size: 16px;height: 16px;color: #333333;margin: 17px 0px 0px 20px;line-height: 16px;float: left;}
.con3-right div{width: 290px;height: 1px;background: #efefef;margin: 17px 0px 0px 15px;}

.con3-right img{display: block;width: 291px;height: 150px;margin: 17px 0px 0px 15px;}
li.newlist{overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap;}
.con3-ul1{width: 291px;margin: 0px 0px 0px 15px;}
.con3-ul1 li a{display: block;font-size: 9px;color: #656565;margin-top: 8px;}
.con3-ul1 li p{display: block;font-size: 9px;color: #b5b5b5;line-height: 20px;margin-top: 0px;}
.con3-ul1 li a:hover{color: #d40822;}
.xiantiao2{width: 1200px;height: 110px;margin: 0 auto;}
.xiantiao2 img{width: 100% ;height: 100%;}

.con4{width: 1200px;height: 499px;margin: 20px auto;}

.con4-left{width: 859px;height:100%;background: white;float: left;}
.con4-right{width: 321px;height: 100%;background: white;float: right;}

.con4-left-top-1{display: inline-block;font-size: 16px;height: 16px;color: #333333;margin: 17px 0px 0px 29px;line-height: 16px;}
.con4-left-top-2{height: 16px;font-size: 10px;color: #bbbbbb;float: right;margin: 17px 35px 0px 0px;line-height: 16px;}
.con4-left-top-2:hover{color: #e4000f;}
.con4-left-xian{width: 831px;height: 1px;background: #efefef;float: left;margin: 17px 0px 0px 14px;}

.con4-left-left{width: 260px;height: 430px;float: left;margin: 15px 0px 0px 14px;}
.con4-left-left img{width: 100%;height: 200px;}
.con4-left-left dl{font-size: 12px;color: #929292;line-height: 22px;margin-top: 7px;letter-spacing: 0px;height: 188px;}
.con4-left-left dt{font-size: 14px; font-weight: bold; text-align: center;}
.con4-left-left dt span{font-size: 14px;color: #6c6c6c;}
.con4-left-left dd{}

.con4-left-left a{font-size: 12px;color: #4f4f4f;}
.con4-left-left a:hover{color: #d40822;}
.con4-left-right{width: 572px;height: 430px;float: left;margin: 15px 0px 0px 10px;}
.con4-left-right li{float: left;width: 128px;height: 200px;background: white;margin-left: 13px;box-shadow: 0px 1px 3px 1px #d4d4d4; transition: all .15s linear; margin-bottom: 10px;}
.con4-left-right li:hover {    box-shadow: 0 15px 24px 0 rgba(0,0,0,.1);    transform: translateY(-5px); cursor: pointer;}
.con4-left-right li img{height: 89px;margin: 11px auto;display: block;}
.con4-left-right li h1{    overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap;width: 100%;height:14px;font-size: 14px;color: #767676;line-height: 14px;text-align: center;}
.con4-left-right li p{display: block;font-size: 6px;height: 47px;color: #9a9a9a;text-align: center;line-height: 16px;margin-top: 3px;}
.con4-left-right li a{display: block;width: 100%;height: 12px;font-size: 12px;line-height: 12px;color: #4f4f4f;text-align: center;margin-top: 5px;}
.con4-left-right li a:hover{color: #d40822; }
.sb_title
.con4-right h1{display: block;font-size: 16px;height: 16px;color: #333333;margin: 17px 0px 0px 20px;line-height: 16px;float: left;}
.con4-right div{width: 290px;height: 1px;background: #efefef;float: left;margin: 17px 0px 0px 15px;}
.con4-right img{display: block;width: 291px;height: 184px;float: left;margin: 15px 0px 0px 15px;}

.con4-right ul{height: 220px;width: 291px;float: left;margin: 0px 0px 0px 15px;}
.con4-right ul li{width: 100%;height: 12px;margin-top: 16px;}
.con4-right ul li a{display: block;font-size: 12px;color: #636363;line-height: 12px;}
.con4-right ul li a span{margin-right: 20px;}
.con4-right ul li a:hover{color: #d40822;}

.xiantiao3{width: 1200px;height: 110px;margin: 20px auto;}
.xiantiao3 img{display: block;width: 100%;height: 100%;}

.con5{width: 1200px;height: 485px;margin: 20px auto;}
.con5-left{width: 859px;height: 100%;float: left;background: white;}
.con5-right{width: 321px;background: white;float: right;height: 100%;}

.con5-left-top-1{display: block;font-size: 16px;height: 16px;color: #333333;margin: 17px 0px 0px 29px;line-height: 16px;float: left;}
.con5-left-top-2{height: 16px;font-size: 10px;color: #bbbbbb;float: right;margin: 17px 35px 0px 0px;line-height: 16px;}
.con5-left-top-2:hover{color: #e4000f;}
.con5-left-xian{width: 831px;height: 1px;background: #efefef;float: left;margin: 17px 0px 0px 14px;}

.con5-right h1{display: block;font-size: 16px;height: 16px;color: #333333;margin: 17px 0px 0px 20px;line-height: 16px;float: left;}
.con5-right div{width: 290px;height: 1px;background: #efefef;float: left;margin: 17px 0px 0px 15px;}

.con5-left-tu{width: 828px;height: 241px;float: left;margin: 15px 0px 0px 14px;}
.con5-left-tu1{width: 420px;height: 100%;float: left;background: url(../images/con5-tu_03.png)no-repeat center;background-size: 100% 100%;}
.con5-left-tu1 div{width: 100%;height: 23px;background: rgba(0,0,0,.3);margin-top: 218px;}
.con5-left-tu1 div a{display: block;width: 100%;height: 100%;font-size: 12px;color: white;text-align: center;line-height: 23px;}
.con5-left-tu2{width: 189px;height: 113px;background: url(../images/con5-tu_05.png)no-repeat center;background-size: 100% 100%;float: left;margin-left: 15px;}
.con5-left-tu2 div{width: 100%;height: 23px;background: rgba(0,0,0,.3);margin-top: 90px;}
.con5-left-tu2 div a{display: block;width: 100%;height: 100%;font-size: 12px;color: white;text-align: center;line-height: 23px;}

.con5-left-tu3{width: 189px;height: 113px;background: url(../images/con5-tu_07.png) no-repeat center;background-size: 100% 100%;float: left;margin-left: 15px;}
.con5-left-tu3 div{width: 100%;height: 23px;background: rgba(0,0,0,.3);margin-top: 90px;}
.con5-left-tu3 div a{display: block;width: 100%;height: 100%;font-size: 12px;color: white;text-align: center;line-height: 23px;}

.con5-left-tu4{width: 189px;height: 113px;background: url(../images/con5-tu_13.png) no-repeat center;background-size: 100% 100%;float: left;margin-left: 15px;margin-top: 15px;}
.con5-left-tu4 div{width: 100%;height: 23px;background: rgba(0,0,0,.3);margin-top: 90px;}
.con5-left-tu4 div a{display: block;width: 100%;height: 100%;font-size: 12px;color: white;text-align: center;line-height: 23px;}
.con5-left-tu5{width: 189px;height: 113px;background: url(../images/con5-tu_14.png) no-repeat center;background-size: 100% 100%;float: left;margin-left: 15px;margin-top: 15px;}
.con5-left-tu5 div{width: 100%;height: 23px;background: rgba(0,0,0,.3);margin-top: 90px;}
.con5-left-tu5 div a{display: block;width: 100%;height: 100%;font-size: 12px;color: white;text-align: center;line-height: 23px;}

.con5-left-zi{height: 828px;height: 150px;float: left;margin: 20px 0px 0px 14px;}
.con5-left-zi ul{}
.con5-left-zi ul li.first_line a{color: #d40822;}
.con5-left-zi ul li{height: 12px; margin-top: 13px; display: inline-block; width: 200px; }
.con5-left-zi ul li a{display: block;height: 100%;width: 100%;font-size: 12px;color: #626262;line-height: 12px; overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap;}
.con5-left-zi ul li a:hover{color: #d40822;}

.con5-right img{width: 291px;height: 180px;float: left;margin: 15px 0px 0px 15px;}

.con5-right ul{width: 291px;height: 215px;float: left;margin: 0px 0px 0px 15px;}
.con5-right ul li{width: 100%;height: 12px;margin-top: 16px; overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap;}
.con5-right ul li a{display: block;font-size: 12px;color: #636363;line-height: 12px;}
.con5-right ul li a:hover{color: #d40822;}
/*****************底部footer************************/
.footer {     -webkit-font-smoothing: antialiased;    line-height: 1.8;     min-height: 50px; display: block;  margin-top: 50px;    position: relative;    background: #073648;    color: #fff;    font-size: 13px;    padding: 0px;}
.container {
    width: 1250px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}
.flink{margin-bottom: 10px;}
.flink .center{background: #fff;}
.flink p{padding-left: 10px; font-size: 16px; line-height: 25px;}
.flink ul li{display: inline-block; padding:10px 15px; }
.flink ul li a{color: #1c1c1c;}
.footer a { color: #7281AD;}
.footer a:hover { color: #fff;}
.footer-top {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: solid 1px #7281AD;
    clear: both;
}

.footer .about {
    float: left;
    width: 132px;
}

.footer .contact {
    float: left;
    width: 220px;
    margin-right: 30px;
}

.footer .service {
    float: left;
    width: 372px;
}

.footer .service a {
    margin-right: 15px;
    display: inline-block;
}

.footer .qrcode {
    padding-top: 40px;
    float: left;
    width: 455px;
}

.footer-row {
    padding-left: 72px;
    box-sizing: border-box;
}

.footer-row-head {
    margin-left: -72px;
    float: left;
}

.footer-row .item {
    float: left;
    margin-right: 12px;
    position: relative;
}

.footer-row .item:not(:last-child):after {
    content: " ";
    position: absolute;
    height: 12px;
    width: 1px;
    background: #7281AD;
    right: -7px;
    top: 6px;
}

.footer-copy-bg {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 20px;
    background: #33485a;
}

.footer-copy {
    font-size: 14px;
}

.footer .auth {
    float: right;
    margin-top: 4px;
}

.footer .auth>a {
    margin-right: 20px;
}

.footer .qrcode-item {
    float: right;
    text-align: center;
    margin-left: 50px;
}

.footer .qrcode img {
    width: 100px;
    display: block;
    margin-bottom: 6px;
}

.footer h4 {
    font-size: 14px;
    color: #fff !important;
}

.p-t {
    padding-top: 15px;
}
.container:before {
     display: table;
     content: " ";
 }

/**********************footerend*******************/


.mianbaoxie{width: 1200px;height: 56px;     background: #fff;    margin-bottom: 5px;}
.mianbaoxie p{line-height: 56px; padding-left: 10px; color: #515151;}
.mianbaoxie p a{color: #515151;}
.mianbaoxie p a:hover{color: #00b19a;}
.conl1{width: 1200px;height: 262px;background: white;}
.conl1 img{width: 327px;height: 222px;float: left;margin: 20px 0px 0px 20px;}
.conl1 h3{display: block;width: 802px;height: 16px;float: left;margin: 20px 0px 0px 30px;font-size: 16px;color: #8c0000;line-height: 16px; font-weight: bold;}
.conl1 h3 a{color: #8c0000;}
.conl1 p{display: block;height: 79px;width: 802px;float: left;margin: 14px 0px 0px 30px;font-size: 12px;line-height: 28px;color: #a6a6a6; text-indent: 2em;}
.conl1 ul{width:800px; height: 120px;margin-left: 30px; float: left;}
.conl1 ul li{display: inline-block; width: 390px;     overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap;}
.conl1 ul li a{display: block;height: 14px;font-size: 14px;margin-top: 12px;color: #434343;line-height: 14px;}
.conl1 ul li a:hover{color: #d60000;}
.conl2{width: 1200px; margin-top: 20px;}
.conl2-left{width: 839px;float: left;background: white;}
.conl2-left ul{width: 801px;margin-left: 20px; padding-bottom: 10px;}
.conl2-left ul li{width: 100%;height: 179px;border-bottom: 1px dashed #e6e6e6;margin-top: 20px;}
.conl2-left ul li img{display: block;width: 212px;height: 160px;float: left;border-radius: 5px;}
.conl2-left-a{height: 16px;width: 559px;font-size: 16px;line-height: 16px;float: left;margin-left: 30px;color: #474747;}
.conl2-left-a:hover{color: #d60000;}
.conl2-left ul li p{display: block;width: 559px;height: 110px;float: left;margin: 15px 0px 0px 30px;color: #5c5c5c;font-size: 12px;line-height: 28px;}
.conl2-left ul li p.info{display: block;height: 12px;color: #969696;width: 559px;float: left;margin-left: 30px;font-size: 12px;font-weight: normal;margin-top: 3px;}
.conl2-left ul li p.info span{float: right;}
.conl2-right{width: 339px;height: 2654px;float: right;}
.conl2-right-2{width: 337px;background: white;margin-top: 20px;}
.conl2-right-2 h3{display: block;font-size: 16px;height: 16px;color: #575757;line-height: 16px;padding: 20px 0px 10px 20px;width: 299px; border-bottom: #f9f9f9 2px solid;}
.conl2-right-2 h3 a{font-size: 12px;color: #9c9c9c;float: right;font-weight: normal;}
.conl2-right-2 h3 a:hover{color: #272727;}
.conl2-right-2 ul{width: 299px; margin: 20px 0px 0px 20px;}
.conl2-right-2 ul li{width: 139px;height: 185px;float: left; margin-right: 10px;}
.conl2-right-2 ul li img{width: 139px;height: 139px;border-radius: 10px;}
.conl2-right-2-a{height: 12px;width: 139px;font-size: 12px;color: #6c6c6c;float: left;margin-top: 6px;display: block;text-align: center;}
.conl2-right-2-a:hover{color: #e10000;}
.conl2-right-3{width: 337px;height:583px ;background: white;margin-top: 20px;}
.conl2-right-3 h3{display: block;font-size: 16px;height: 16px;color: #575757;line-height: 16px;padding: 20px 0px 10px 20px;width: 299px; border-bottom: #f9f9f9 solid 1px; }
.conl2-right-3 h3 a{font-size: 12px;color: #9c9c9c;float: right;font-weight: normal;}
.conl2-right-3 h3 a:hover{color: #272727;}
.conl2-right-3 ul{width: 299px;height: 500px;margin: 20px 0px 0px 20px;}
.conl2-right-3 ul li{width: 100%;height: 72px;margin-top: 31px;}
.conl2-right-3 ul li img{display: block;width: 70px;height: 70px;border-radius: 11px;float: left;}
.a3{display: block;width: 200px;height: 13px;color: #4c4c4c;font-size: 13px;line-height: 13px;float: left;margin-left: 20px;font-weight: 550;}
.conl2-right-3 ul li p{display: block;width: 200px;float: left;margin: 10px 0px 0px 20px;color: #818181;line-height: 24px;}
.conl2-right-3 ul li p span{color: #d80000;}
.conl2-right-4{width: 337px;background: white;margin-top: 20px; padding-bottom: 10px;}
.conl2-right-4 h3{display: block;font-size: 16px;height: 16px;color: #575757;line-height: 16px;padding: 20px 0px 0px 20px;width: 299px;}
.conl2-right-4 h3 a{font-size: 12px;color: #9c9c9c;float: right;font-weight: normal;}
.conl2-right-4 h3 a:hover{color: #272727;}
.conl2-right-4 ul{width: 299px;margin: 20px 0px 0px 20px;}
.conl2-right-4 ul li{width: 100%;height: 58px;margin-top: 30px;}
.conl2-right-4 ul li img{display: block;width: 90px;height: 58px;float: left;}
.a4{width: 199px;height: 14px;display: block;font-size: 14px;color: #575757;float: left;margin: 6px 0px 0px 10px;line-height: 14px;}
.a4:hover{color:#d80000 ;}
.conl2-right-4 p{display: block;width: 170px;height: 12px;font-size: 12px;line-height: 12px;color: #adadad;float: left;margin: 20px 0px 0px 10px;}
.conl2-right-4 p span{float: right;}
ul.pagination {    height: 42px;    color: #666;    padding: 27px 0}
ul.pagination li{display: inline-block;  float: left;  min-width: 40px;    display: inline-block;  height: auto; margin-top: 0px; width: auto; border-bottom: none;}
ul.pagination li.disabled { padding: 5px;   display: inline-block;    min-width: 32px;    height: 32px;    line-height: 32px;    font-size: 14px;    background: #fff;    box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);    margin: 0 5px;    color: #666;    text-align: center}
 ul.pagination li.active { padding: 5px; display: inline-block;    float: left;    width: 40px;    display: inline-block;    min-width: 32px;    height: 32px;    line-height: 32px;    font-size: 14px;    background: #fff;    box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);    margin: 0 5px;    color: #666;    text-align: center}
ul.pagination li a {    display: inline-block;   padding: 5px;  min-width: 32px;    height: 32px;    line-height: 32px;    font-size: 14px;    background: #fff;    box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);    margin: 0 5px;    color: #666;    text-align: center}
ul.pagination li a:hover {    border-color: #ff552e;    color: #ff552e}
ul.pagination li.active {    background-color: #ff552e;    border-color: #ff552e;    color: #fff}
ul.pagination li .prev,.pagination .next {    position: relative;    top: 1px;    font-size: 18px;    font-family: "\5B8B\4F53";    font-weight: 700}
ul.pagination li a.disabled {    color: #ddd}

.xiayiye{width: 56px;height: 23px;font-size: 14px ;color: #969696;line-height: 23px;text-align: center;display: block;float: left;margin-left: 44px;}

/**品牌详情页 */
.b_con1{width: 1198px;height: 451px;background: white; padding-top: 10px;}

.b_con1-left{width: 882px;height: 399px;margin-top: 10px;border-bottom: 1px solid #f1f1f1;}
.b_con1-left-tu{width: 316px;height: 390px;float: left;margin-left: 15px;}
.datu{width: 316px;height: 314px;display: block;border: 1px solid #00b19a;}
.b_con1-left-tu ul{width: 316px;height: 60px;margin-top: 8px;}
.b_con1-left-tu ul li{float: left;height: 56px;width:56px ;border: 2px solid #00b19a;margin-left: 4px;}
.b_con1-left-tu ul li img{width: 100%;height: 100%;}

.b_con1-right-top{width: 513px;height: 126px;border-bottom: 1px dashed #e1e1e1;float: left;margin-left: 30px;}
.b_con1-right-top h1{display: block;font-size: 18px;width: 100%;margin-top: 22px;color: #2d3229;line-height: 18px;}
.b_con1-right-top ul{width: 100%;height: 50px;margin-top: 26px;}
.b_con1-right-top ul li{width: 100%;height: 12px;margin-top: 15px;}
.b_con1-right-top ul li p{display: block;height: 12px;font-size: 12px;color: #9a9593;}
.b_con1-right-top ul li p span{color: #6e6460;margin-left: 10px;}

.b_con1-right.b_con{width: 513px;height: 140px;float: left;margin: 17px 0px 0px 30px;border-bottom: 1px dashed #e1e1e1;}
.b_con1-right.b_con ul{float: left;width: 228px;height: 130px;}
.b_con1-right.b_con ul li p{display: block;font-size: 12px;height: 12px;line-height: 12px;color: #9d9c9d;margin-top: 15px;}
.b_con1-right.b_con ul li p span{color: #6e6460;margin-left: 10px;}

.b_con1-right-bottom{width: 513px;height: 44px;float: left;border-bottom: 1px dashed #e1e1e1;margin-left: 30px;}
.b_con1-right-bottom ul{float: left;margin-left: 11px;}
.b_con1-right-bottom ul li{float: left;}
.b_con1-right-bottom ul li p{display: block;font-size: 12px;height: 44px;line-height: 44px;color: #96979b;}
.b_con1-right-bottom ul li h1{display: block;font-size: 12px;height: 44px;line-height: 44px;margin-left: 13px;color: #338eea;}
.b_con1-right-bottom ul li span{display: block;font-size: 14px;color: #e8e8e8;height: 44px;line-height: 44px;margin-left: 11px;}

.b_con1-right-button{width: 513px;height: 45px;float: left;margin: 10px 0px 0px 30px;}
.b_con1-right-button ul{width: 100%;height: 100%;}
.b_con1-right-button ul li button{cursor: pointer; width: 155px;height: 44px;background: #df0000;border-radius: 5px;border: none;color: white;font-size: 14px;float: left;}
.b_con1-right-button ul li button.bt_num {width: 97px;background: none;border: 1px solid #efefef;color: #322931;margin-left: 10px;}
.b_con1-right-button ul li button.bt_comp {width: 97px;background: none;border: 1px solid #efefef;color: #322931;margin-left: 10px;}

.b_con-right{width: 302px;height: 400px;background: #f7f7f7;float: right;margin-top: -400px;margin-right: 17px;}
.b_con-right img{display: block;width: 178px;height: 178px;margin: 20px auto;border-radius: 5px;}
.b_con-right h1{display: block;height: 16px;width: 280px;float: left;margin: 18px 0px 0px 20px;font-size: 16px;color: #515151;font-weight: normal;}
.b_con-right ul{height: 70px;width: 280px;float: left;margin: 30px 0px 0px 20px;}
.b_con-right ul li p{display: block;width: 100%;height: 12px;font-size: 12px;line-height: 12px;color: #938f8f;margin-top: 11px;}
.b_con-right ul li p span{color: #5a5a5a;}
.b_con-right button{cursor: pointer; width: 107px;height: 36px;border: 1px solid #bdbdbd;border-radius: 5px;color: #494946;background: white;float: left;margin-left: 28px;}
.b_con-right button.bt_frst{margin-left: 30px; background: #df0000; color: #fff;}
.b_con-right button:hover{background: #df0000;color: white;border: 1px solid #df0000;}
.b_con1-bottom{width: 100%;height: 42px;float: left;}
.b_con1-bottom p{display: block;height: 42px;margin-left: 20px;font-size: 12px;color: #7f7f7f;line-height: 42px;}
.b_con2{width: 1198px;height: 50px;background: white;border: 1px solid #f2f2f2;margin-top: 20px;}
.tu1{width: 128px;height: 50px;border-right: 1px solid #f2f2f2;float: left;}
.tu1 img{width: 80px;height: 20px;display: block;margin: 16px auto;}
.zi1{width: 469px;height: 50px;float: left;border-right: 1px solid #f2f2f2;}
.zi1 ul{width: 100%;height: 50px;}
.zi1 ul li{float: left; padding: 10px; font-size: 16px; line-height: 30px;}
.zi1 ul li a{display: block;font-size: 14px;color: #505050;height: 50px;line-height: 50px;margin-left: 53px;}
.zi1 ul li a span{color: #ab2c4f;margin-left: 3px;}
.tu2{width: 128px;height: 50px;border-right: 1px solid #f2f2f2;float: left;}
.tu2 img{width: 80px;height: 20px;display: block;margin: 16px auto;}
.zi2{width: 430px;height: 50px;float: left;margin-left: 20px;}
.zi2 a{display: block;width: 100%;height: 50px;font-size: 14px;color: #1684ea;line-height: 50px;}
.b_con3{width: 1200px;margin-top: 20px;}
.b_con3-left{width: 839px;float: left;background: white;}
.b_con3-left-top{width: 100%;height: 48px;border-bottom: 1px solid #eceff2;}
.b_con3-left-top li{float: left;height: 48px;width: 110px;border-right: 1px solid #eceff2;}
.b_con3-left-top li a{display: block;font-size: 14px;color: #4b4b4b;height: 48px;width: 100%;line-height: 48px;text-align: center;}
.b_con3-1{width: 799px; margin: 20px 0px 0px 20px; margin-bottom: 10px;}
.b_con3-1 div{width: 3px;height: 18px;background: #12b7a1;float: left;}
.b_con3-1 h1{display: block;height: 18px;width: 770px;font-size: 18px;color: #5f5f5f;line-height: 18px;float: left;margin-left: 10px;}
.ntable{margin-top: 20px;}
.ntable tr td{border: 1px solid #e6f0f7;height: 38px;padding-left: 12px;     padding: 6px 5px 6px 5px;}
.tb{background: #f2f9fc;}
.b_con1-right-con{width: 513px;height: 140px;float: left;margin: 17px 0px 0px 30px;border-bottom: 1px dashed #e1e1e1;}
.b_con1-right-con ul{float: left;width: 228px;height: 130px;}
.b_con1-right-con ul li p{display: block;font-size: 12px;height: 12px;line-height: 12px;color: #9d9c9d;margin-top: 15px;}
.b_con1-right-con ul li p span{color: #6e6460;margin-left: 10px;}
.b_con3-2{width: 740px;background: #fff;  padding: 15px 30px 20px 30px;}
.b_con3-2 h2{ position: relative;    color: #12b7a1 !important; font-size: 18px;   padding: 0 3px 0 0; padding-left: 10px;   border-bottom: 2px solid #EDEDED;    height: 40px;    line-height: 40px;    font-weight: bold;    margin-bottom: 10px;}
.b_con3-2 h2:after {    position: absolute;    left: 0px;    top: 12px;    width: 3px;    height: 18px;    background-color: #12b7a1;    content: '';}
.b_con3-2 p,.b_con3-2div,.b_con3-2 table {text-indent: 1em; line-height: 30px; margin-top: 10px;}
.b_con3-2 table {    border-collapse: collapse;    border-spacing: 0;    border-top: 1px solid rgb(230, 230, 230);    width: 100%;}
.b_con3-2 tbody {  display: table-row-group;    vertical-align: middle;    border-color: inherit;}
.b_con3-2 td{    padding-top: 5px;    padding-bottom: 5px;    text-align: center;    color: rgb(85, 85, 85);    border: 1px solid rgb(230, 230, 230);    text-indent: 15px;    height: 20px;    overflow: hidden;    width: 266px;}
.b_con3-2  th {    padding-top: 5px;    padding-bottom: 5px;    color: rgb(85, 85, 85);    border: 1px solid rgb(230, 230, 230);    text-indent: 15px;    height: 20px;    overflow: hidden;    width: 130px;    background: rgb(249, 249, 249);}
.b_con3-2  img {    max-width: 100%;    display: block; border-radius: 5px;    margin: auto}
.b_con3-6{height: 365px;width: 799px;margin-left: 20px;}
.b_con3-6 .xiaokuai6{width: 3px;height: 18px;background: #12b7a1;float: left;}
.b_con3-6 h2{display: block;height: 18px;width: 770px;font-size: 18px;color: #5f5f5f;line-height: 18px;float: left;margin-left: 10px;}
.b_con3-6 h2 span{color: #d40822;}
.b_con3-6-xian{width: 629px;height: 1px;background: #d40822;float: right;}
.b_con3-6 table{width: 788px;float: left;margin: 20px 0px 0px 14px;}
.b_con3-6 table td{border: 1px solid #eaf1f6;padding-left: 12px;}
.td_color{width: 20%;height: 38px;background: #f9f9f9;}
.b_con3-right{width: 339px;height: 100%;float: right;}
.b_con3-right-2{width: 337px;height:885px ;background: white;margin-top: 20px;}
.b_con3-right-2 h1{display: block;font-size: 16px;height: 16px;color: #575757;line-height: 16px;float: left;margin: 20px 0px 0px 20px;width: 299px;}
.b_con3-right-2 h1 a{font-size: 12px;color: #9c9c9c;float: right;font-weight: normal;}
.b_con3-right-2 h1 a:hover{color: #272727;}
.b_con3-right-2-xian{width: 100%;height: 2px;background: #f9f9f9;float: left;margin-top: 20px;}

.b_con3-right-2 ul{width: 299px;height: 500px;float: left;margin: 20px 0px 0px 20px;}
.b_con3-right-2 ul li{width: 100%;height: 72px;margin-top: 31px;}
.b_con3-right-2 ul li img{display: block;width: 70px;height: 70px;border-radius: 11px;float: left;}
.a3{display: block;width: 200px;height: 13px;color: #4c4c4c;font-size: 13px;line-height: 13px;float: left;margin-left: 20px;font-weight: 500;}
.b_con3-right-2 ul li p{display: block;width: 200px;float: left;margin: 10px 0px 0px 20px;color: #818181;line-height: 24px;}
.b_con3-right-2 ul li p span{color: #d80000;}

.b_con3-right-3{width: 337px; background: white;margin-top: 20px;}
.b_con3-right-3 h3{    display: block;    font-size: 16px;  color: #575757;  border-bottom: #f9f9f9 2px solid;    padding: 20px 0px 20px 20px;    width: 299px;}
.b_con3-right-3 ul{width: 100%;height: 100%;}
.b_con3-right-3 ul li{width: 100%;height: 47px;border-bottom: 2px solid #f9f9f9;}
.b_con3-right-3 ul li h1{display: block;width: 317px;height: 100%;font-size: 16px;color: #575757;line-height: 59px;padding-left: 20px;}
.b_con3-right-3 ul li a{display: block;height: 100%;width: 317px;padding-left: 20px;line-height: 47px;font-size: 14px;color: #777777; overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap;}
.b_con3-right-3 ul li a:hover{background: #f9f9f9;color: #dd3f3f;}

.b_con3-right-4{width: 337px;background: white;margin-top: 20px; padding-bottom: 10px;}
.b_con3-right-4 h1{display: block;width: 318px;height: 59px;font-size: 16px;color: #575757;line-height: 59px;padding-left: 20px;}
.b_con3-right-4 ul{width: 100%;}
.b_con3-right-4 ul li{height: 123px;width: 100%;border-top:2px solid #f9f9f9 ;}
.b_con3-right-4 ul li a{display: block; width: 297px;line-height: 28px;margin-top: 14px;color: #2c2c2c;padding-left: 20px;font-size: 16px;padding-right: 20px;letter-spacing: 1px;}
.b_con3-right-4 ul li p{display: block;font-size: 12px; color: #a4a4a4;margin-top: 10px; text-indent:1.5em; line-height: 16px;padding-left: 20px;width: 297px;padding-right: 20px;}
.b_con3-right-4 ul li p span{float: right;}
.b_con3-right-4 ul li:hover{background: #f9f9f9;}
.b_con3-right-4 ul li:hover a{color: #dd3f3f;}

/*品牌列表*/
.bl_con1{width: 1200px;height: 169px;background: white;}
.bl_con1-ul1{height: 22px;width: 1000px;float: left;margin: 26px 0px 0px 13px;}
.bl_con1-ul1 li{float: left;}
.bl_con1-ul1 li h1{display: block;width: 85px;height: 22px;float: left;font-size: 14px;font-weight: normal;line-height: 22px;color: #232323;}
.bl_con1-ul1 li p{display: block;width: 44px;height: 22px;color: white;background: #00b19a;border-radius: 2px;text-align: center;line-height: 22px;font-size: 12px;float: left;}
.bl_con1-ul1 li a{display: block;color: #6b6b6b;font-size: 12px;float: left;height: 22px;line-height: 22px;margin-left: 30px;}
.bl_con1-ul1 li a:hover{color: #ca0000;}

.bl_con1-ul2{height: 22px;width: 1000px;float: left;margin: 16px 0px 0px 13px;}
.bl_con1-ul2 li{float: left;}
.bl_con1-ul2 li h1{display: block;width: 85px;height: 22px;float: left;font-size: 14px;font-weight: normal;line-height: 22px;color: #232323;}
.bl_con1-ul2 li p{display: block;width: 44px;height: 22px;color: white;background: #00b19a;border-radius: 2px;text-align: center;line-height: 22px;font-size: 12px;float: left;}
.bl_con1-ul2 li a{display: block;color: #6b6b6b;font-size: 12px;float: left;height: 22px;line-height: 22px;margin-left: 30px;}
.bl_con1-ul2 li a:hover{color: #ca0000;}

.bl_con1-ul3{height: 50px;width: 1174px;float: left;margin: 16px 0px 0px 13px;}
.bl_con1-ul3 li{float: left;}
.bl_con1-ul3 li h1{display: block;width: 85px;height: 22px;float: left;font-size: 14px;font-weight: normal;line-height: 22px;color: #232323;}
.bl_con1-ul3 li p{display: block;width: 44px;height: 22px;color: white;background: #00b19a;border-radius: 2px;text-align: center;line-height: 22px;font-size: 12px;float: left;}
.bl_con1-ul3 li a{display: block;color: #6b6b6b;font-size: 12px;float: left;height: 22px;line-height: 22px;margin-left: 30px;}
.bl_con1-ul3 li a:hover{color: #ca0000;}
.bl_con2{width: 1200px;height: 57px;background: white;margin-top: 20px;}
.bl_con2 .brand_head{font-weight:bold; width: 197px;float: left;margin-left: 13px;height: 57px;line-height: 57px;font-size: 16px;color: #575757;}
.bl_con2 ul{width: 400px;height: 12px;float: left;margin-top: 23px;}
.bl_con2 ul li{float: left;}
.bl_con2 ul li a{display: block;color: #9a9a9a;height: 12px;line-height: 12px;margin-left: 20px;}
.bl_con2 ul li a:hover{color: #ca0000;}
.bl_con2 ul li p{display: block;height: 12px;font-size: 12px;color: #9a9a9a;line-height: 12px;margin-left: 20px;}

.bl_con3{width: 1200px;margin-top: 20px;}
.bl_con3-left{width: 841px;height: 100%;float: left;}
.bl_con3-right{width: 339px;height: 100%;float: right;}
.bl_con3-right:after{clear:both;content: "";}
.bl_con3-left ul{width: 100%;height: 100%;}
.bl_con3-left ul li{display: block; width:100%;height: 206px; background-color: #fff;    box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);    transition: all .15s linear;margin-bottom: 20px;}
.bl_con3-left  li:hover {    box-shadow: 0 15px 24px 0 rgba(0,0,0,.1);    transform: translateY(-5px)}
.bl_con3-left  li:hover .btn-duibi {    display: block}
.bl_con3-left ul li div{width: 146px;height: 164px;border:1px solid #e1e1e1;float: left;margin: 20px 0px 0px 13px;overflow: hidden;}
.bl_con3-left ul li div img{display: block;margin: 5px auto;}
.bl_con3-left ul li:hover div img{transform: scale(1.2);transition: 1s;}

.a1{display: block;width: 660px;    font-size: 20px;    line-height: 30px;color: #262626; float: left;margin: 20px 0px 0px 20px;font-weight: 600;}
.bl_con3-left ul li p{display: block;height: 150px;width: 660px;float: left;margin: 6px 0px 0px 20px;color: #606060;font-size: 12px;line-height: 28px;}

.bl_con3-right-1{width: 336px; ;background: white;}
.bl_con3-right-1 h3{display: block;font-size: 16px;height: 16px;color: #575757;line-height: 16px; padding: 20px 0px 0px 20px;width: 299px;}
.bl_con3-right-1 h3 a{display: inline-block; font-size: 12px;color: #9c9c9c;float: right;font-weight: normal;}
.bl_con3-right-1 h3 a:hover{color: #272727;}
.bl_con3-right-1-xian{width: 100%;height: 2px;background: #f9f9f9;margin-top: 20px;}
.bl_con3-right-1 ul{width: 299px;margin: 0px 0px 0px 20px;}
.bl_con3-right-1 ul li{width: 100%;height:87px ;border-bottom: 1px solid #eaeaea;margin-top: 22px;}
.bl_con3-right-1 ul li img{display: block;width: 113px;height: 77px;float: left;}
.bl_con3-right-1 ul li a.b_tit{font-size: 14px; font-weight: bold; color: #ff552e !important;}
.a2{display: block;width: 177px;height: 100%;float: left;margin-left: 8px;color: #959393;font-size: 12px;line-height: 28px;margin-top: -6px;}
.bl_con3-right-1 ul li a span{color: #e10000;}
dl.paihangbf{display: inline-block; width: 180px;}
.paihangbf dd{padding: 10px;     width: 177px; overflow: hidden; }
.bl_con3-right-2{width: 336px;background: white;margin-top: 20px;}
.bl_con3-right-2 h3{display: block;font-size: 16px;height: 16px;color: #575757;line-height: 16px;padding: 20px 0px 0px 20px;width: 299px;}
.bl_con3-right-2 h3 a{font-size: 12px;color: #9c9c9c;float: right;font-weight: normal;}
.bl_con3-right-2 h3 a:hover{color: #272727;}
.bl_con3-right-2-xian{width: 100%;height: 2px;background: #f9f9f9;margin-top: 20px;}

.bl_con3-right-2 ul{width: 299px;margin: 20px 0px 0px 20px; padding-bottom: 10px;}
.bl_con3-right-2 ul li{width: 100%;height: 72px;margin-top: 31px;}
.bl_con3-right-2 ul li img{display: block;width: 70px;height: 70px;border-radius: 11px;float: left;}
.a3{display: block;width: 200px;height: 13px;color: #4c4c4c;font-size: 13px;line-height: 13px;float: left;margin-left: 20px;font-weight: 500;}
.bl_con3-right-2 ul li p{display: block;width: 200px;float: left;margin: 10px 0px 0px 20px;color: #818181;line-height: 24px;}
.bl_con3-right-2 ul li p span{color: #d80000;}

.bl_con3-right-3{width: 336px;background: white;margin-top: 20px;}
.bl_con3-right-3 h3{display: block;font-size: 16px;height: 16px;color: #575757;line-height: 16px;padding: 20px 0px 0px 20px;width: 299px;}
.bl_con3-right-3 h3 a{font-size: 12px;color: #9c9c9c;float: right;font-weight: normal;}
.bl_con3-right-3 h3 a:hover{color: #272727;}
.bl_con3-right-3-xian{width: 100%;height: 2px;background: #f9f9f9;margin-top: 20px;}

.bl_con3-right-3 ul{width: 299px;margin: 20px 0px 0px 20px; padding-bottom: 30px;}
.bl_con3-right-3 ul li{width: 100%;height: 76px;margin-top: 25px;}

.bl_con3-right-3 ul li img{display: block;width: 90px;height: 76px;float: left;border-radius: 3px;}
.a4{width: 198px;height: 12px;font-size: 12px;line-height: 12px;float: left;font-weight: 550;color: #7d7d7d;margin-left: 10px;}
.bl_con3-right-3 ul li p{width: 198px;color: #8e8d8d;display: block;font-size: 12px;float: left;margin: 9px 0px 0px 10px;line-height: 28px;}
/**普通文档页面*/
.ar_con1{width: 1200px; clear: both}
.ar_con1-left{width: 839px;background: white;float: left;}
.ar_con1-left-top{width: 802px;height: 79px;border-bottom: 1px solid #d3d3d3;margin: 30px 0px 0px 20px;}
.ar_con1-left-top h1{font-size: 24px;color: #4a4a4a;height: 24px;width: 100%;line-height: 24px;display: block; text-align: center;}
.ar_con1-left-top p{display: block;width: 100%;height: 12px;font-size: 12px;line-height: 12px;color: #bcbcbc;margin-top: 20px; text-align: center;}
.ar_con1-left-top p span{margin-left: 34px;color: #545454;}
/*****************************普通文档头部品牌****************************/
.ar_con1-left-con1{
    padding: 26px 36px;
    background: #fff;
    text-align: center;
}
.ar_con1-left-con1 .top-box{
    display: table;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 26px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 11px rgba(0,0,0,.14);
}
.ar_con1-left-con1 .top-box>div{
    display: table-cell;
    vertical-align: middle;
}
.ar_con1-left-con1 .top-box .mid{
    position: relative;
    width: 420px;
    padding-right: 20px;
    padding-left: 15px;
    text-align: left;
    box-sizing: border-box;
}
.ar_con1-left-con1 .top-box .mid h3{
    max-width: 230px;
    font-size: 18px;
    font-weight: bold;
}
.ar_con1-left-con1 .top-box .mid a{
    position: absolute;
    top: 16px;
    right: 50px;
    display: block;
    padding-left: 28px;
    font-size: 18px;
    color: #e31d1a;
    background: url(../images/arli.png) left no-repeat;
}
.ar_con1-left-con1 .top-box .mid::after{
    position: absolute;
    content: "";
    right: -4px;
    top: 50%;
    width: 4px;
    height: 76px;
    margin-top: -38px;
    background: #e31d1a;
    border-radius: 6px;
}
.ar_con1-left-con1 .top-box .mid span{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}
.ar_con1-left-con1 .top-box .mid p{
    margin-top: 10px;
    line-height: 20px;
}
.ar_con1-left-con1 .top-box .mid em{
    display: inline-block;
    font-size: 18px;
    color: #e31d1a;
    font-style: normal;
}
.ar_con1-left-con1 .top-box .mid i{
    display: inline-block;
    vertical-align: top;
    width: 130px;
    font-size: 14px;
    color: #666;
    margin-left: 15px;
    font-style: normal;
}
.ar_con1-left-con1 .top-box .right{
    padding-left: 66px;
    padding-right: 10px;
}
.ar_con1-left-con1 .top-box .right a{
    display: block;
    padding-top: 60px;
    text-align: center;
    font-size: 16px;
    color: #e31d1a;
    background: url(../images/arrow-more.png) top no-repeat;
}
.top-box img{display: block;
    max-width: 100%;
    border: none;}
/*****************************普通文档头部品牌end****************************/
.content{width: 802px;margin-left: 20px;}
.content h2{width: 100%;height: 19px;font-size: 19px;color: #5b5b5b;line-height: 19px;}
.content ul{width: 100%;height: 250px;margin-top: 20px;}
.content p{;font-size: 14px;color: #4a4a4a;letter-spacing: 1px;line-height: 16px;margin-top: 24px;}
.biaoqian{width: 802px;height: 88px;margin: 30px 0px 0px 20px;}
.biaoqian p{width: 750px;height: 16px;font-size: 16px;line-height: 16px;color: #a2a2a2;  margin-bottom: 10px;}
.biaoqian a{color: #5f5f5f;}
.biaoqian a:hover{color: #d80000;}
.ar_con1-left-con5{width: 802px;height: 381px;margin-left: 20px;}
.ar_con1-left-con5-top{width: 100%;height: 18px; border-bottom: 1px solid #d80000; padding-bottom: 10px;}
.ar_con1-left-con5-top .bf_tit{height: 18px;float: left;display: block;color: #5f5f5f;font-size: 18px;line-height: 18px; font-weight: bold;}
.ar_con1-left-con5-top .bf_tit span{color: #db2424;}
.ar_con1-left-con5-top p{display: block;height: 17px;font-size: 14px;line-height: 16px;color: #7f7f7f;width: 100%;text-align: right;}
.ar_con1-left-con5-top p span{color:#db2424 ;}
.ar_con5-ul1{width: 219px;height: 124px;float: left;margin: 20px 0px 0px 0px;}
.ar_con5-ul1 li{width: 100%;height: 29px;margin-top: 19px;}
.ar_con5-ul1 li p{display: block;width: 45px;height: 29px;float: left;color: #41454b;font-size: 12px;line-height: 29px;}
.ar_con5-ul1 li p span{color: #d94251;}
.ar_con5-ul1 li input{width: 165px;height: 27px;border: 1px solid #d2d2d2;font-size: 12px;color: #9c9fa3;padding-left: 5px;}
.ar_con5-ul2{width: 150px;height: 13px;float: left;margin: 28px 0px 0px 10px;}
.ar_con5-ul2 li{float: left;width: 54px;}
.ar_con5-ul2 li input{float: left;}
.ar_con5-ul2 li p{display: block;font-size: 12px;color: #4d4e4e;height: 13px;line-height: 13px;margin-left: 2px;float: left;}
.ar_con1-left-con5-bottom{width: 100%;height: 200px;float: left;margin-top: 14px;}
.ar_con1-left-con5-bottom h1{display: block;width: 45px;height: 180px;float: left;margin-top: 11px;display: block;font-size: 12px;font-weight: normal;color: #505151;}
.ar_con1-left-con5-bottom h1 span{color: #d0253a;}
.ar_con1-left-con5-bottom textarea{width: 319px;height: 85px;float: left;border: 1px solid #d2d2d2;outline: none;padding-left: 5px;padding-top: 11px;color:#9c9fa3 ;font-family: "微软雅黑";}
.ar_con1-left-con5-bottom ul{width: 249px;height: 164px;border: 1px solid #d2d2d2;float: left;}
.ar_con1-left-con5-bottom ul p{height: 29px;width: 100%;background:#00b19a;color: white;text-align: center;line-height: 29px;display: block;}
.ar_con1-left-con5-bottom ul a{display: block;height: 27px;width: 231px;font-size: 12px;line-height: 27px;padding-left: 18px; color: #787974;}
.ar_con1-left-con5-bottom ul a:hover{background: #d2d2d2;}
.ar_con1-left-con5-bottom input{width: 185px;float: left;height: 34px;background: #00b19a;border-radius: 5px;border: none;color: white;margin-top: -43px;}
.ar_con1-left-con6{width: 802px;margin-left: 20px;}
.ar_con1-left-con6 .bf_tit{display: block;color: #5f5f5f;font-size: 18px;line-height: 18px;     border-bottom: 1px solid #d80000;    padding-bottom: 10px;}
.ar_con1-left-con6 ul{width: 800px;height: 170px;margin-top: 20px;}
.ar_con1-left-con6 ul li{display: inline-block; width: 380px; line-height: 14px;margin-top: 15px;font-size: 14px;  height: 14px;  overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap;}
.ar_con1-left-con6 ul li a{color: #7a7a7a;}
.ar_con1-left-con6 ul li a:hover{color: #d40822;}



.ar_con1-right{width: 339px;float: right;}



.a4{width: 199px;height: 14px;display: block;font-size: 14px;color: #575757;float: left;margin: 6px 0px 0px 10px;line-height: 14px;}
.a4:hover{color:#d80000 ;}